<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="POST">
      <div class="forumN">
        <label for="" class="added">isbn</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">title</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">subtitle</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">author</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">published</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">publisher</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">pages</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">description</label>
        <input class="added" type="text" />
      </div>
      <div class="forumN">
        <label for="" class="added">website</label>
        <input class="added" type="text" />
      </div>
      <input type="submit" />
    </form>
    <script></script>
  </body>
</html>
